In [5]:
len('abc')
'abc'[0]

'a'

# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) SQL JOINS
Week 6 | Lesson 1.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- explain what a `JOIN` operation is
- visualize a `JOIN` operation as an operation between sets
- distinguish different types of `JOIN`
- perform `JOINS` in `SQL`

### STUDENT PRE-WORK
*Before this lesson, you should already be able to:*
- connect to a local or remote relational database
- perform SQL CRUD actions and queries
- merge dataframes with Pandas.merge

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 5 mins | [Opening](#opening) | Opening |
| 15 mins | [Introduction](#introduction) | Joining tables |
| 15 mins | [Demo](#demo) | Demo: Different types of JOIN |
| 15 mins | [Guided-practice](#guided-practice) | Guided Practice: Other Joins |
| 15 mins | [Demo](#demo_2) | Demo: Sub-queries |
| 25 minutes | [Ind-practice](#ind-practice) | Independent Practice: Other SQL Commands |
| 5 mins | [Conclusion](#conclusion) | Conclusion |

<a name="opening"></a>
## Opening (5 mins)
Last week we learned many things about databases, including:

- how to connect to a local or remote db
- how to add, remove, edit data
- how to perform simple queries
- how to aggregate, group and sort data

> **Check:** What SQL commands did we learn last week? What do they do?

We often need to use data stored in more than one table. Last week we did this using `Pandas merge`, but time has come to learn about _`JOIN`_, which is the natural way to merge data within `SQL`.

<a name="introduction"></a>
## Joining tables (15 mins)

We will use the [Northwind sample database](https://northwinddatabase.codeplex.com/):

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

As a reminder, here are what some of the tables looks like:

`customers`:

|CustomerID |CompanyName |ContactName | ContactTitle |Address|City | Region | PostalCode | Country |Phone | Fax|
|---|
|ALFKI| Alfreds Futterkiste| Maria Anders | Sales Representative | Obere Str. 57 | Berlin|| 12209| Germany | 030-0074321| 030-0076545|
|ANATR| Ana Trujillo Emparedados y helados | Ana Trujillo | Owner| Avda. de la Constitución 2222 | México D.F. || 05021| Mexico| (5) 555-4729 | (5) 555-3745|
|ANTON| Antonio Moreno Taquería| Antonio Moreno | Owner| Mataderos2312 | México D.F. || 05023| Mexico| (5) 555-3932 |
|...|...|...|...|...|...|...|...|...|...|...|

`orders`:

|OrderID | CustomerID | EmployeeID | OrderDate| RequiredDate | ShippedDate | ShipVia | Freight | ShipName|ShipAddress |ShipCity| ShipRegion | ShipPostalCode | ShipCountry |
|----|
|10248 | VINET|5 | 1996-07-04 | 1996-08-01 | 1996-07-16| 3 | 32.38 | Vins et alcools Chevalier | 59 rue de l'Abbaye | Reims|| 51100| France|
|10249 | TOMSP|6 | 1996-07-05 | 1996-08-16 | 1996-07-10| 1 | 11.61 | Toms Spezialitäten| Luisenstr. 48| Münster|| 44087| Germany|
|10250 | HANAR|4 | 1996-07-08 | 1996-08-05 | 1996-07-12| 2 | 65.83 | Hanari Carnes | Rua do Paço, 67| Rio de Janeiro | RJ | 05454-876| Brazil|
|...|...|...|...|...|...|...|...|...|...|...|

`order_details`:

| OrderID |  ProductID |  UnitPrice | Quantity | Discount |
| ----- |
|10248|11|14|12|0|
|10248|42|9.8|10|0|
|10248|72|34.8|5|0|
|10249|14|18.6|9|0|
|10249|51|42.4|40|0|
|10250|41|7.7|10|0|
|...|...|...|...|...|


### Joins

_SQL joins_ are used when data is spread across different tables. A _join_ operation combines rows from two or more tables in a single new table. To do this, there needs to be a common field between the tables.

Join operations can be thought of as operations between two sets, where records with the same key are combined and records missing in one set are either discarded or included as NULL values.

> **Check:** where have you encountered a similar functionality in Pandas? How have you used it?


#### INNER JOIN
The most common type of join is: SQL INNER JOIN (simple join). An SQL INNER JOIN returns all rows from multiple tables where the join condition is met.

Let's consider a few columns of the `orders` table above:

|OrderID|CustomerID|OrderDate|
|---|---|---|
|10308|2|1996-09-18|
|10309|37|1996-09-19|
|10310|77|1996-09-20|

In the `customers` table, let's focus on these columns:

|CustomerID|CompanyName|ContactName|Country|
|---|---|---|---|
|1|Alfreds Futterkiste|Maria Anders|Germany|
|2|Ana Trujillo Emparedados y helados|Ana Trujillo|Mexico|
|3|Antonio Moreno Taquería|Antonio Moreno|Mexico|

Notice that the `CustomerID` column in the `Orders` table refers to the `CustomerID` in the `Customers` table. We can _JOIN_ the two tables in order to obtain a table like the following:

|OrderID|CompanyName|OrderDate|
|---|---|---|
|10308|Ana Trujillo Emparedados y helados|9/18/1996|
|10365|Antonio Moreno Taquería|11/27/1996|
|10383|Around the Horn|12/16/1996|
|10355|Around the Horn|11/15/1996|
|10278|Berglunds snabbköp|8/12/1996|

A selection of the information contained in the two tables is _joined_ in a single table, using the common key of `CustomerID`.

#### Comparison with Pandas Merge

See [here](http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html) for a comparison between pandas and SQL and [here](http://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging) for an in depth review of Pandas merge.

<a name="demo"></a>
## Demo: Different types of JOIN (15 mins)

|OrderID|CompanyName|OrderDate|
|---|---|---|
|10308|Ana Trujillo Emparedados y helados|9/18/1996|
|10365|Antonio Moreno Taquería|11/27/1996|
|10383|Around the Horn|12/16/1996|
|10355|Around the Horn|11/15/1996|
|10278|Berglunds snabbköp|8/12/1996|

We created this result with this statement:


```sql
    SELECT orders."OrderID", customers."CompanyName", orders."OrderDate"
    FROM orders
    INNER JOIN customers
    ON orders."CustomerID"=customers."CustomerID";
```

An `INNER JOIN` takes the intersection of the two datasets, excluding the rows for which `CustomerID` is null in either of the two tables.

In [3]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind')

In [4]:
query = 'SELECT orders."OrderID", customers."CompanyName", orders."OrderDate"\
    FROM orders\
    INNER JOIN customers\
    ON orders."CustomerID"=customers."CustomerID";'
pd.read_sql(query, engine)

     OrderID                   CompanyName   OrderDate
0      10248     Vins et alcools Chevalier  1996-07-04
1      10249            Toms Spezialitäten  1996-07-05
2      10250                 Hanari Carnes  1996-07-08
3      10251          Victuailles en stock  1996-07-08
4      10252              Suprêmes délices  1996-07-09
5      10253                 Hanari Carnes  1996-07-10
6      10254             Chop-suey Chinese  1996-07-11
7      10255            Richter Supermarkt  1996-07-12
8      10256        Wellington Importadora  1996-07-15
9      10257              HILARION-Abastos  1996-07-16
10     10258                  Ernst Handel  1996-07-17
11     10259    Centro comercial Moctezuma  1996-07-18
12     10260            Ottilies Käseladen  1996-07-19
13     10261                   Que Delícia  1996-07-19
14     10262    Rattlesnake Canyon Grocery  1996-07-22
15     10263                  Ernst Handel  1996-07-23
16     10264                Folk och fä HB  1996-07-24
17     10265      Blondesddsl père et fils  1996-07-25
18     10266                Wartian Herkku  1996-07-26
19     10267                Frankenversand  1996-07-29
20     10268          GROSELLA-Restaurante  1996-07-30
21     10269          White Clover Markets  1996-07-31
22     10270                Wartian Herkku  1996-08-01
23     10271         Split Rail Beer & Ale  1996-08-01
24     10272    Rattlesnake Canyon Grocery  1996-08-02
25     10273                    QUICK-Stop  1996-08-05
26     10274     Vins et alcools Chevalier  1996-08-06
27     10275  Magazzini Alimentari Riuniti  1996-08-07
28     10276           Tortuga Restaurante  1996-08-08
29     10277        Morgenstern Gesundkost  1996-08-09
..       ...                           ...         ...
800    11048         Bottom-Dollar Markets  1998-04-24
801    11049           Gourmet Lanchonetes  1998-04-24
802    11050                Folk och fä HB  1998-04-27
803    11051              La maison d'Asie  1998-04-27
804    11052                 Hanari Carnes  1998-04-27
805    11053              Piccolo und mehr  1998-04-27
806    11054    Cactus Comidas para llevar  1998-04-28
807    11055              HILARION-Abastos  1998-04-28
808    11056            Eastern Connection  1998-04-28
809    11057                   North/South  1998-04-29
810    11058       Blauer See Delikatessen  1998-04-29
811    11059            Ricardo Adocicados  1998-04-29
812    11060                Franchi S.p.A.  1998-04-30
813    11061       Great Lakes Food Market  1998-04-30
814    11062            Reggiani Caseifici  1998-04-30
815    11063  Hungry Owl All-Night Grocers  1998-04-30
816    11064            Save-a-lot Markets  1998-05-01
817    11065             LILA-Supermercado  1998-05-01
818    11066          White Clover Markets  1998-05-01
819    11067      Drachenblut Delikatessen  1998-05-04
820    11068                 Queen Cozinha  1998-05-04
821    11069           Tortuga Restaurante  1998-05-04
822    11070           Lehmanns Marktstand  1998-05-05
823    11071             LILA-Supermercado  1998-05-05
824    11072                  Ernst Handel  1998-05-05
825    11073     Pericles Comidas clásicas  1998-05-05
826    11074                 Simons bistro  1998-05-06
827    11075            Richter Supermarkt  1998-05-06
828    11076                      Bon app'  1998-05-06
829    11077    Rattlesnake Canyon Grocery  1998-05-06

[830 rows x 3 columns]

There are several types of join operations.

- INNER JOIN: Returns all rows when there is at least one match in BOTH tables
- LEFT JOIN: Return all rows from the left table, and the matched rows from the right table
- RIGHT JOIN: Return all rows from the right table, and the matched rows from the left table
- FULL JOIN: Return all rows when there is a match in ONE of the tables

(This is all rooted in [Relational Algebra](https://en.wikipedia.org/wiki/Relational_algebra). We won't go into it here, but it's an interesting topic.)

![Joins](./assets/images/joins.gif)

> Check: stop and jot! Can you annotate this diagram with examples of when you would use each? If you need a concrete starting point, imagine you have a table of Q1 orders for your company, and a second table of Q1's new sales leads.

### Left Join

The LEFT JOIN keyword returns all rows from the left table (table1), with the matching rows in the right table (table2). The right-hand result is NULL when the left-hand rows do not have a match.


#### Left Join Syntax
```sql
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name=table2.column_name;
```

> **Check:** Consider the JOIN we performed between `orders` and `customers`. Which column might contain NULL values in the joined table if we performed a LEFT JOIN?

In [5]:
query = 'SELECT orders."OrderID", customers."CompanyName", orders."OrderDate"\
    FROM orders\
    LEFT JOIN customers\
    ON orders."CustomerID"=customers."CustomerID";'
pd.read_sql(query, engine)

     OrderID                   CompanyName   OrderDate
0      10248     Vins et alcools Chevalier  1996-07-04
1      10249            Toms Spezialitäten  1996-07-05
2      10250                 Hanari Carnes  1996-07-08
3      10251          Victuailles en stock  1996-07-08
4      10252              Suprêmes délices  1996-07-09
5      10253                 Hanari Carnes  1996-07-10
6      10254             Chop-suey Chinese  1996-07-11
7      10255            Richter Supermarkt  1996-07-12
8      10256        Wellington Importadora  1996-07-15
9      10257              HILARION-Abastos  1996-07-16
10     10258                  Ernst Handel  1996-07-17
11     10259    Centro comercial Moctezuma  1996-07-18
12     10260            Ottilies Käseladen  1996-07-19
13     10261                   Que Delícia  1996-07-19
14     10262    Rattlesnake Canyon Grocery  1996-07-22
15     10263                  Ernst Handel  1996-07-23
16     10264                Folk och fä HB  1996-07-24
17     10265      Blondesddsl père et fils  1996-07-25
18     10266                Wartian Herkku  1996-07-26
19     10267                Frankenversand  1996-07-29
20     10268          GROSELLA-Restaurante  1996-07-30
21     10269          White Clover Markets  1996-07-31
22     10270                Wartian Herkku  1996-08-01
23     10271         Split Rail Beer & Ale  1996-08-01
24     10272    Rattlesnake Canyon Grocery  1996-08-02
25     10273                    QUICK-Stop  1996-08-05
26     10274     Vins et alcools Chevalier  1996-08-06
27     10275  Magazzini Alimentari Riuniti  1996-08-07
28     10276           Tortuga Restaurante  1996-08-08
29     10277        Morgenstern Gesundkost  1996-08-09
..       ...                           ...         ...
800    11048         Bottom-Dollar Markets  1998-04-24
801    11049           Gourmet Lanchonetes  1998-04-24
802    11050                Folk och fä HB  1998-04-27
803    11051              La maison d'Asie  1998-04-27
804    11052                 Hanari Carnes  1998-04-27
805    11053              Piccolo und mehr  1998-04-27
806    11054    Cactus Comidas para llevar  1998-04-28
807    11055              HILARION-Abastos  1998-04-28
808    11056            Eastern Connection  1998-04-28
809    11057                   North/South  1998-04-29
810    11058       Blauer See Delikatessen  1998-04-29
811    11059            Ricardo Adocicados  1998-04-29
812    11060                Franchi S.p.A.  1998-04-30
813    11061       Great Lakes Food Market  1998-04-30
814    11062            Reggiani Caseifici  1998-04-30
815    11063  Hungry Owl All-Night Grocers  1998-04-30
816    11064            Save-a-lot Markets  1998-05-01
817    11065             LILA-Supermercado  1998-05-01
818    11066          White Clover Markets  1998-05-01
819    11067      Drachenblut Delikatessen  1998-05-04
820    11068                 Queen Cozinha  1998-05-04
821    11069           Tortuga Restaurante  1998-05-04
822    11070           Lehmanns Marktstand  1998-05-05
823    11071             LILA-Supermercado  1998-05-05
824    11072                  Ernst Handel  1998-05-05
825    11073     Pericles Comidas clásicas  1998-05-05
826    11074                 Simons bistro  1998-05-06
827    11075            Richter Supermarkt  1998-05-06
828    11076                      Bon app'  1998-05-06
829    11077    Rattlesnake Canyon Grocery  1998-05-06

[830 rows x 3 columns]

### Right Join

Similarly, the RIGHT JOIN keyword returns all rows from the right table (table2), with the matching rows in the left table (table1). The result is NULL in the left side when there is no match.

#### Right Join Syntax
```sql
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name=table2.column_name;
```
> **Check:** What use cases can you imagine for a RIGHT JOIN?

In [6]:
query = 'SELECT orders."OrderID", customers."CompanyName", orders."OrderDate"\
    FROM orders\
    RIGHT JOIN customers\
    ON orders."CustomerID"=customers."CustomerID";'
pd.read_sql(query, engine)

     OrderID                           CompanyName   OrderDate
0    10248.0             Vins et alcools Chevalier  1996-07-04
1    10249.0                    Toms Spezialitäten  1996-07-05
2    10250.0                         Hanari Carnes  1996-07-08
3    10251.0                  Victuailles en stock  1996-07-08
4    10252.0                      Suprêmes délices  1996-07-09
5    10253.0                         Hanari Carnes  1996-07-10
6    10254.0                     Chop-suey Chinese  1996-07-11
7    10255.0                    Richter Supermarkt  1996-07-12
8    10256.0                Wellington Importadora  1996-07-15
9    10257.0                      HILARION-Abastos  1996-07-16
10   10258.0                          Ernst Handel  1996-07-17
11   10259.0            Centro comercial Moctezuma  1996-07-18
12   10260.0                    Ottilies Käseladen  1996-07-19
13   10261.0                           Que Delícia  1996-07-19
14   10262.0            Rattlesnake Canyon Grocery  1996-07-22
15   10263.0                          Ernst Handel  1996-07-23
16   10264.0                        Folk och fä HB  1996-07-24
17   10265.0              Blondesddsl père et fils  1996-07-25
18   10266.0                        Wartian Herkku  1996-07-26
19   10267.0                        Frankenversand  1996-07-29
20   10268.0                  GROSELLA-Restaurante  1996-07-30
21   10269.0                  White Clover Markets  1996-07-31
22   10270.0                        Wartian Herkku  1996-08-01
23   10271.0                 Split Rail Beer & Ale  1996-08-01
24   10272.0            Rattlesnake Canyon Grocery  1996-08-02
25   10273.0                            QUICK-Stop  1996-08-05
26   10274.0             Vins et alcools Chevalier  1996-08-06
27   10275.0          Magazzini Alimentari Riuniti  1996-08-07
28   10276.0                   Tortuga Restaurante  1996-08-08
29   10277.0                Morgenstern Gesundkost  1996-08-09
..       ...                                   ...         ...
802  11050.0                        Folk och fä HB  1998-04-27
803  11051.0                      La maison d'Asie  1998-04-27
804  11052.0                         Hanari Carnes  1998-04-27
805  11053.0                      Piccolo und mehr  1998-04-27
806  11054.0            Cactus Comidas para llevar  1998-04-28
807  11055.0                      HILARION-Abastos  1998-04-28
808  11056.0                    Eastern Connection  1998-04-28
809  11057.0                           North/South  1998-04-29
810  11058.0               Blauer See Delikatessen  1998-04-29
811  11059.0                    Ricardo Adocicados  1998-04-29
812  11060.0                        Franchi S.p.A.  1998-04-30
813  11061.0               Great Lakes Food Market  1998-04-30
814  11062.0                    Reggiani Caseifici  1998-04-30
815  11063.0          Hungry Owl All-Night Grocers  1998-04-30
816  11064.0                    Save-a-lot Markets  1998-05-01
817  11065.0                     LILA-Supermercado  1998-05-01
818  11066.0                  White Clover Markets  1998-05-01
819  11067.0              Drachenblut Delikatessen  1998-05-04
820  11068.0                         Queen Cozinha  1998-05-04
821  11069.0                   Tortuga Restaurante  1998-05-04
822  11070.0                   Lehmanns Marktstand  1998-05-05
823  11071.0                     LILA-Supermercado  1998-05-05
824  11072.0                          Ernst Handel  1998-05-05
825  11073.0             Pericles Comidas clásicas  1998-05-05
826  11074.0                         Simons bistro  1998-05-06
827  11075.0                    Richter Supermarkt  1998-05-06
828  11076.0                              Bon app'  1998-05-06
829  11077.0            Rattlesnake Canyon Grocery  1998-05-06
830      NaN                     Paris spécialités        None
831      NaN  FISSA Fabrica Inter. Salchichas S.A.        None

[832 rows x 3 columns]

### Full (outer) Join

The FULL OUTER JOIN keyword returns all rows from the left table (table1) and from the right table (table2). The FULL OUTER JOIN keyword combines the result of both LEFT and RIGHT joins. In this case we could have NULL values on both sides.

#### Full Join Syntax

```sql
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name=table2.column_name;
```

<a name="guided-practice"></a>
## Guided Practice: Joins (15 mins)

- How many products per category does the catalog contain? Print the answer with the `CategoryName`, and `Count`.

In [19]:
query = 'SELECT "CategoryName", count("ProductID") \
FROM products AS p \
JOIN categories AS c \
ON p."CategoryID" = c."CategoryID" \
GROUP BY c."CategoryName";'
pd.read_sql(query, engine)

     CategoryName  count
0       Beverages     12
1         Seafood     12
2  Grains/Cereals      7
3     Confections     13
4    Meat/Poultry      6
5      Condiments     12
6  Dairy Products     10
7         Produce      5

> Answer:
```sql
SELECT "CategoryName", count("ProductID")
FROM products AS p
JOIN categories AS c
ON p."CategoryID" = c."CategoryID"
GROUP BY c."CategoryName"
```

- What 5 customers are generating the highest revenue? Print a table with `CustomerID` and `Total Revenue`.

Answer:
```sql
SELECT "CustomerID",
       CAST(
       SUM("UnitPrice" *
           "Quantity" *
           (1.0 - "Discount"))
      AS numeric(36,2)) 
      AS "Revenue"
FROM orders AS o
JOIN order_details AS od
ON o."OrderID" = od."OrderID"
GROUP BY "CustomerID"
ORDER BY "Revenue" DESC
LIMIT 5
```

> Check: can you infer what CAST(...) and numeric(P,s) do?

In [26]:
query = 'SELECT "CustomerID", \
       CAST( \
       SUM("UnitPrice" * \
           "Quantity" * \
           (1.0 - "Discount")) \
      AS numeric(36,2)) \
      AS "Revenue" \
FROM orders AS o \
JOIN order_details AS od \
ON o."OrderID" = od."OrderID" \
GROUP BY "CustomerID" \
ORDER BY "Revenue" DESC \
LIMIT 5'
pd.read_sql(query, engine)

  CustomerID    Revenue
0      QUICK  110277.31
1      ERNSH  104874.98
2      SAVEA  104361.95
3      RATTC   51097.80
4      HUNGO   49979.91

- In which country are the top 5 suppliers by number of units supplied? Print a table with the supplier's `CompanyName`, `Country` and total number of units supplied. (This uses four tables!)

>Answer:
```sql
SELECT s."CompanyName", s."Country", sum(od."Quantity") AS "UnitsSupplied"
FROM orders o
JOIN order_details as od
ON o."OrderID" = od."OrderID"
JOIN products p
ON od."ProductID" = p."ProductID"
JOIN suppliers s
ON s."SupplierID" = p."SupplierID"
GROUP BY s."SupplierID"
ORDER BY "UnitsSupplied" DESC
LIMIT 5
```
> Check: s."CompanyName" and s."Country" are [functionally dependent](https://en.wikipedia.org/wiki/Functional_dependency#Examples) on s."SupplierID". Why does that matter here? [(Answer)](http://stackoverflow.com/questions/5986127/do-all-columns-in-a-select-list-have-to-appear-in-a-group-by-clause)

<a name="demo_2"></a>
## Demo: Sub-queries (15 mins)

SQL is very versatile and it can be stretched a bit further than simple JOIN operations between two different tables.

### Subqueries

A _Subquery_ or _Inner query_ or _Nested query_ is a query within another SQL query. It is used to further restrict the data to be retrieved by returning data that will be used in the main query as a condition.

Subqueries can be used with the SELECT, INSERT, UPDATE, and DELETE statements along with the operators like =, <, >, >=, <=, IN, BETWEEN etc.

#### Syntax

Here is an example of a subquery. The table resulting from the subquery is used as condition in the `WHERE` condition of the main query.

```sql
SELECT column_name1
    FROM table_name1
    WHERE column_name2 [Comparison Operator]
        (SELECT column_name3
         FROM table_name2
         WHERE condition);
```

For example, let's extract all the `orders` from `customers` based in France.

```sql
SELECT "OrderID", "OrderDate" FROM orders
WHERE "CustomerID" IN
(SELECT "CustomerID"
 FROM customers
 WHERE "Country" = 'France')
```

> **Check:** How would you get the same result with a `JOIN` operation?


```sql
SELECT "OrderID", "OrderDate" FROM orders
JOIN customers
ON orders."CustomerID" = customers."CustomerID"
WHERE "Country" = 'France'
```

<a name="ind-practice"></a>
## Independent Practice: Other SQL Commands (25 minutes)

First, working in pairs: go to http://www.w3schools.com/sql and choose a command you have not heard of. Read about it for 5 minutes, then explain it to your partner (take 2.5 minutes each).

Next, get started on the `join` exercises at https://pgexercises.com/questions/joins/. Bookmark this -- it's a good resource for brushing up on the basic syntax before job interviews!

<a name="conclusion"></a>
## Conclusion (5 mins)

In this class we have started to discover the full power of Relational databases through JOINs and sub-queries. These allow us to mix and match data from various tables, in order to extract meaningful results.

### ADDITIONAL RESOURCES

- [SQL Join Documentation](http://www.w3schools.com/sql/sql_join.asp)
- [Relational Algebra](https://en.wikipedia.org/wiki/Relational_algebra)
- [Wikipedia on JOINS](https://en.wikipedia.org/wiki/Join_(SQL))