# March Madness Machine Learning

I try to predict the outcome of March Madnss matches based on the outcome of previous matches between two teams.

I used a MLP neural network classifier. I used pybrain for the classifier and pandas to sift through the data.

This is based on the [World Cup Classifer](https://github.com/fisadev/world_cup_learning/) built by [fisadev](https://github.com/fisadev/)

In [3]:
import pandas as pd
import numpy as np

# Data cleaning
Get season and seeds data

In [4]:
df = pd.read_csv('march-machine-learning-mania-2016-v2/TourneySeeds.csv')
df

      Season  Seed  Team
0       1985   W01  1207
1       1985   W02  1210
2       1985   W03  1228
3       1985   W04  1260
4       1985   W05  1374
5       1985   W06  1208
6       1985   W07  1393
7       1985   W08  1396
8       1985   W09  1439
9       1985   W10  1177
10      1985   W11  1455
11      1985   W12  1330
12      1985   W13  1233
13      1985   W14  1318
14      1985   W15  1273
15      1985   W16  1250
16      1985   X01  1385
17      1985   X02  1433
18      1985   X03  1301
19      1985   X04  1424
20      1985   X05  1449
21      1985   X06  1409
22      1985   X07  1104
23      1985   X08  1234
24      1985   X09  1116
25      1985   X10  1112
26      1985   X11  1431
27      1985   X12  1246
28      1985   X13  1361
29      1985   X14  1305
...      ...   ...   ...
2052    2016   Y05  1268
2053    2016   Y06  1112
2054    2016   Y07  1234
2055    2016   Y08  1160
2056    2016   Y09  1163
2057    2016   Y10  1396
2058    2016  Y11a  1435
2059    2016  Y11b  1455
2060    2016   Y12  1355
2061    2016   Y13  1218
2062    2016   Y14  1138
2063    2016   Y15  1421
2064    2016   Y16  1122
2065    2016   Z01  1332
2066    2016   Z02  1328
2067    2016   Z03  1401
2068    2016   Z04  1181
2069    2016   Z05  1124
2070    2016   Z06  1400
2071    2016   Z07  1333
2072    2016   Z08  1386
2073    2016   Z09  1153
2074    2016   Z10  1433
2075    2016   Z11  1320
2076    2016   Z12  1463
2077    2016   Z13  1423
2078    2016   Z14  1453
2079    2016   Z15  1167
2080    2016  Z16a  1221
2081    2016  Z16b  1380

[2082 rows x 3 columns]

Out of curiosity, let's take a look at unique team codes in 2003

In [40]:
df[df['Season'] == 2003].Team.unique()

array([1328, 1448, 1393, 1257, 1280, 1329, 1386, 1143, 1301, 1120, 1335,
       1139, 1122, 1264, 1190, 1354, 1400, 1196, 1462, 1390, 1163, 1268,
       1277, 1261, 1345, 1160, 1423, 1140, 1360, 1407, 1358, 1411, 1421,
       1246, 1338, 1266, 1173, 1458, 1281, 1231, 1332, 1428, 1104, 1356,
       1451, 1409, 1221, 1447, 1237, 1112, 1242, 1181, 1228, 1323, 1166,
       1272, 1153, 1211, 1113, 1141, 1454, 1443, 1161, 1429, 1436])

In [132]:
df[df['Team'] == 1437]

      Season Seed  Team
55      1985  Z08  1437
105     1986  Y10  1437
229     1988  Y06  1437
363     1990  Y12  1437
392     1991  W09  1437
642     1995  W03  1437
722     1996  X03  1437
771     1997  W04  1437
919     1999  X08  1437
1336    2005  Z05  1437
1381    2006  Y01  1437
1470    2007  Z09  1437
1507    2008  X12  1437
1546    2009  W03  1437
1626    2010  X02  1437
1682    2011  W09  1437
1835    2013  X09  1437
1879    2014  W02  1437
1946    2015  W01  1437
2049    2016  Y02  1437

Get detailed season results (2003 onwards)

In [26]:
df2 = pd.read_csv('march-machine-learning-mania-2016-v2/RegularSeasonDetailedResults.csv')
df2

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1166,106,1426,50,H,0,41,69,...,11,12,17,8,15,8,17,7,3,15
11,2003,13,1202,74,1106,73,N,0,29,51,...,22,5,5,13,16,15,12,6,2,12
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1323,76,1125,48,H,0,25,56,...,24,4,8,14,26,12,17,10,0,17
14,2003,14,1125,83,1135,77,N,1,30,70,...,15,17,27,20,27,17,24,7,7,19
15,2003,14,1156,78,1236,71,N,0,27,46,...,20,18,24,6,17,21,11,5,1,21
16,2003,14,1161,81,1194,56,H,0,22,48,...,13,12,19,16,18,10,16,15,3,36
17,2003,14,1166,82,1202,57,H,0,33,61,...,11,9,14,13,23,9,26,8,4,18
18,2003,14,1183,73,1129,59,A,0,29,59,...,14,14,18,12,22,10,23,4,5,14
19,2003,14,1314,85,1336,55,H,0,32,60,...,23,10,11,15,20,6,13,7,5,19
20,2003,14,1323,89,1237,45,H,0,34,62,...,15,5,11,27,22,10,17,6,3,23
21,2003,14,1353,60,1162,36,H,0,23,57,...,8,9,13,11,23,4,27,2,4,19
22,2003,14,1390,61,1131,57,H,0,20,53,...,17,16,18,11,22,7,14,7,0,24
23,2003,14,1426,59,1106,47,N,0,25,53,...,18,1,2,8,15,10,8,10,6,14
24,2003,14,1462,87,1389,48,H,0,35,70,...,20,1,4,16,18,11,19,4,3,16
25,2003,15,1161,77,1156,63,H,0,27,58,...,13,14,20,7,19,13,13,6,6,22
26,2003,15,1194,93,1236,86,N,2,33,75,...,31,18,22,9,33,20,26,6,7,25
27,2003,15,1196,76,1256,55,H,0,28,48,...,5,16,22,12,17,14,22,8,2,22
28,2003,15,1242,81,1221,57,H,0,28,53,...,21,14,21,8,22,11,20,9,3,27
29,2003,15,1422,84,1447,65,H,0,33,53,...,25,10,16,14,15,9,12,10,2,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71211,2016,130,1452,69,1328,67,N,0,23,60,...,21,16,22,8,21,11,21,6,6,14
71212,2016,131,1114,72,1418,65,N,0,28,52,...,21,12,15,10,25,13,18,5,4,19
71213,2016,131,1138,64,1103,61,N,0,23,61,...,33,2,2,6,25,17,12,7,3,10
71214,2016,131,1163,77,1396,62,N,0,29,56,...,20,12,22,16,19,10,8,5,3,16
71215,2016,131,1167,57,1308,54,N,0,23,54,...,13,12,22,13,24,7,14,7,3,13
71216,2016,131,1201,68,1361,63,N,0,21,54,...,13,12,16,13,24,11,15,6,6,14
71217,2016,131,1214,81,1354,69,N,0,25,54,...,21,9,14,7,21,13,8,3,6,23
71218,2016,131,1218,64,1253,60,N,0,21,46,...,22,11,12,11,19,14,13,3,2,22
71219,2016,131,1242,81,1452,71,N,0,25,48,...,15,17,24,12,20,15,20,14,0,24
71220,2016,131,1246,93,1208,80,N,0,29,58,...,19,16,21,13,16,8,12,3,5,24
71221,2016,131,1272,74,1408,54,N,0,25,62,...,22,13,17,10,25,7,18,6,2,22
71222,2016,131,1277,64,1268,61,N,0,21,50,...,22,17,21,11,20,9,6,8,1,15
71223,2016,131,1292,55,1330,53,N,0,19,52,...,9,12,16,15,27,4,14,8,3,15
71224,2016,131,1314,61,1438,57,N,0,24,47,...,24,3,3,16,20,10,10,4,3,10
71225,2016,131,1332,88,1428,57,N,0,33,64,...,16,12,15,8,17,10,20,4,3,16
71226,2016,131,1345,76,1276,59,N,0,29,55,...,25,7,12,6,20,13,8,6,2,15
71227,2016,131,1371,69,1437,67,N,0,27,55,...,23,11,15,10,25,10,12,5,3,18
71228,2016,131,1372,82,1394,60,N,0,28,60,...,18,13,19,13,23,9,20,4,1,26
71229,2016,131,1380,54,1238,53,N,0,18,56,...,20,18,25,13,32,9,12,6,5,12
71230,2016,131,1386,82,1173,79,N,0,25,60,...,21,13,18,7,29,16,14,9,6,21
71231,2016,131,1392,80,1436,74,H,0,28,59,...,15,14,17,9,22,12,17,4,1,26
71232,2016,131,1401,71,1261,38,N,0,26,62,...,27,7,15,14,26,4,12,6,2,13
71233,2016,131,1419,82,1426,71,N,0,27,54,...,28,6,7,20,23,13,14,8,2,17
71234,2016,131,1433,76,1172,54,N,0,28,58,...,23,9,14,8,24,9,10,2,5,10
71235,2016,131,1451,62,1285,59,N,0,23,48,...,14,1,3,11,21,9,7,5,4,12
71236,2016,132,1114,70,1419,50,N,0,26,52,...,18,4,9,6,20,13,13,6,3,12
71237,2016,132,1163,72,1272,58,N,0,22,48,...,16,11,17,5,21,10,6,3,0,20
71238,2016,132,1246,82,1401,77,N,1,28,58,...,23,15,22,17,23,11,13,5,4,20
71239,2016,132,1277,66,1345,62,N,0,25,60,...,15,17,21,5,22,10,5,4,4,14
71240,2016,132,1386,87,1433,74,N,0,35,54,...,29,11,16,12,21,12,9,5,5,21

Merge season seed data for both winner and loser teams with the deatiled data dataframe

In [32]:
games = pd.merge(df2, df, how='left', left_on=['Wteam', 'Season'], right_on=['Team', 'Season'], suffixes=('', 'W'))
games['WSeed'] = games['Seed']
del games["Seed"]
del games["Team"]
games = pd.merge(games, df, how='left', left_on=['Lteam', 'Season'], right_on=['Team', 'Season'], suffixes=('', 'L'))
games['LSeed'] = games['Seed']
del games["Seed"]
del games["Team"]
games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf,WSeed,LSeed
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,10,22,8,18,9,2,20,Y10,W01
1,2003,10,1272,70,1393,63,N,0,26,62,...,20,20,25,7,12,8,6,16,Z07,W03
2,2003,11,1266,73,1437,61,N,0,24,58,...,23,31,22,9,12,2,5,23,Y03,NaN
3,2003,11,1296,56,1457,50,N,0,18,38,...,15,17,20,9,19,4,3,23,NaN,NaN
4,2003,11,1400,77,1208,71,N,0,30,61,...,27,21,15,12,10,7,1,14,X01,NaN

In [33]:
games.columns

Index([u'Season', u'Daynum', u'Wteam', u'Wscore', u'Lteam', u'Lscore', u'Wloc',
       u'Numot', u'Wfgm', u'Wfga', u'Wfgm3', u'Wfga3', u'Wftm', u'Wfta',
       u'Wor', u'Wdr', u'Wast', u'Wto', u'Wstl', u'Wblk', u'Wpf', u'Lfgm',
       u'Lfga', u'Lfgm3', u'Lfga3', u'Lftm', u'Lfta', u'Lor', u'Ldr', u'Last',
       u'Lto', u'Lstl', u'Lblk', u'Lpf', u'WSeed', u'LSeed'],
      dtype='object')

Begin parsing through seed data to seperate it out

In [34]:
games['Seed'].unique()

array(['X07', 'Y05', 'X02', 'Z06', 'Z07', 'X04', 'Z05', 'X09', 'W05',
       'Y02', 'Y10', 'X08', 'X05', 'X10', 'Y03', 'Y06', 'Y07', 'X01',
       'Y01', 'Z02', 'X12', 'Z08', 'W08', 'X06', 'W04', 'W06', 'W11',
       'Z03', 'W03', 'Y13', 'W14', 'Y11', 'X11', 'W10', 'W07', 'W02',
       'Z09', 'Y09', 'X03', 'W12', 'Y04', 'Z01', 'Z10', 'Z14', 'Z11',
       'Y08', 'Y15', 'X13', 'Y14', 'Y16', 'W09', 'X15', 'W15', 'Z15',
       'X14', 'W01', 'Z04', 'W13', 'Z12', 'Y12', 'Y12b', 'X16', 'Z13',
       'Z14a', 'Z11a', 'Z16', 'W16', 'W16a', 'Z13b', 'Z16b', 'Y12a',
       'X16b', 'W16b', 'Y11b', 'W12b', 'Y11a', 'X12a', 'Z14b', 'W11b',
       'Y16a', 'W12a', 'Y16b', 'Z13a', 'W11a', 'Z16a', 'X12b', 'Z11b',
       'X16a'], dtype=object)

Create region data as seperate columns

In [35]:
games['Wregion'] = games.WSeed.str[0]

In [36]:
games['Lregion'] = games.LSeed.str[0]

In [37]:
games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Ldr,Last,Lto,Lstl,Lblk,Lpf,WSeed,LSeed,Wregion,Lregion
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,Y10,W01,Y,W
1,2003,10,1272,70,1393,63,N,0,26,62,...,25,7,12,8,6,16,Z07,W03,Z,W
2,2003,11,1266,73,1437,61,N,0,24,58,...,22,9,12,2,5,23,Y03,NaN,Y,NaN
3,2003,11,1296,56,1457,50,N,0,18,38,...,20,9,19,4,3,23,NaN,NaN,NaN,NaN
4,2003,11,1400,77,1208,71,N,0,30,61,...,15,12,10,7,1,14,X01,NaN,X,NaN

Import season data (2003 and above)

In [41]:
seasons = pd.read_csv('march-machine-learning-mania-2016-v2/Seasons.csv')
seasons = seasons[seasons['Season'] > 2002]

Fix seasons data for ease of importing into games dataframe

In [45]:
seasons['W'] = seasons.Regionw
seasons['X'] = seasons.Regionx
seasons['Y'] = seasons.Regiony
seasons['Z'] = seasons.Regionz
del seasons['Regionw']
del seasons['Regionx']
del seasons['Regiony']
del seasons['Regionz']
seasons.head()

    Season     Dayzero            W        X               Y             Z
18    2003   11/4/2002         East    South         Midwest          West
19    2004   11/3/2003      Atlanta  Phoenix  EastRutherford       StLouis
20    2005   11/1/2004  Albuquerque  Chicago          Austin      Syracuse
21    2006  10/31/2005      Atlanta  Oakland     Minneapolis  WashingtonDC
22    2007  10/30/2006         East    South         Midwest          West

In [46]:
seasons

    Season     Dayzero            W        X               Y             Z
18    2003   11/4/2002         East    South         Midwest          West
19    2004   11/3/2003      Atlanta  Phoenix  EastRutherford       StLouis
20    2005   11/1/2004  Albuquerque  Chicago          Austin      Syracuse
21    2006  10/31/2005      Atlanta  Oakland     Minneapolis  WashingtonDC
22    2007  10/30/2006         East    South         Midwest          West
23    2008   11/5/2007         East  Midwest           South          West
24    2009   11/3/2008         East    South         Midwest          West
25    2010   11/2/2009         East    South         Midwest          West
26    2011   11/1/2010         East     West       Southeast     Southwest
27    2012  10/31/2011         East  Midwest           South          West
28    2013   11/5/2012         East    South         Midwest          West
29    2014   11/4/2013         East    South         Midwest          West
30    2015   11/3/2014         East    South         Midwest          West
31    2016   11/2/2015         East  Midwest           South          West

Add Region data into games df for both winning and losing teams

In [83]:
for index, row in games.iterrows():
    try:
        games.loc[index, 'Wregion'] = seasons[seasons['Season'] == 2007][[games.loc[index, 'Wregion']]].values[0][0]
    except:
        games.loc[index, 'Wregion'] = np.nan

In [84]:
games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Ldr,Last,Lto,Lstl,Lblk,Lpf,WSeed,LSeed,Wregion,Lregion
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,Y10,W01,Midwest,W
1,2003,10,1272,70,1393,63,N,0,26,62,...,25,7,12,8,6,16,Z07,W03,West,W
2,2003,11,1266,73,1437,61,N,0,24,58,...,22,9,12,2,5,23,Y03,NaN,Midwest,NaN
3,2003,11,1296,56,1457,50,N,0,18,38,...,20,9,19,4,3,23,NaN,NaN,NaN,NaN
4,2003,11,1400,77,1208,71,N,0,30,61,...,15,12,10,7,1,14,X01,NaN,South,NaN

In [85]:
for index, row in games.iterrows():
    try:
        games.loc[index, 'Lregion'] = seasons[seasons['Season'] == 2007][[games.loc[index, 'Lregion']]].values[0][0]
    except:
        games.loc[index, 'Lregion'] = np.nan

In [86]:
games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Ldr,Last,Lto,Lstl,Lblk,Lpf,WSeed,LSeed,Wregion,Lregion
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,Y10,W01,Midwest,East
1,2003,10,1272,70,1393,63,N,0,26,62,...,25,7,12,8,6,16,Z07,W03,West,East
2,2003,11,1266,73,1437,61,N,0,24,58,...,22,9,12,2,5,23,Y03,NaN,Midwest,NaN
3,2003,11,1296,56,1457,50,N,0,18,38,...,20,9,19,4,3,23,NaN,NaN,NaN,NaN
4,2003,11,1400,77,1208,71,N,0,30,61,...,15,12,10,7,1,14,X01,NaN,South,NaN

Import Teams data and replace team code's with team names

In [87]:
teams = pd.read_csv('march-machine-learning-mania-2016-v2/Teams.csv')
teams.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [110]:
for index, row in games.iterrows():
    games.loc[index, 'Wteam'] = teams[teams['Team_Id'] == games.loc[index, 'Wteam']].Team_Name.to_string().split("    ")[1]
    games.loc[index, 'Lteam'] = teams[teams['Team_Id'] == games.loc[index, 'Lteam']].Team_Name.to_string().split("    ")[1]

In [111]:
games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Ldr,Last,Lto,Lstl,Lblk,Lpf,WSeed,LSeed,Wregion,Lregion
0,2003,10,Alabama,68,Oklahoma,62,N,0,27,58,...,22,8,18,9,2,20,Y10,W01,Midwest,East
1,2003,10,Memphis,70,Syracuse,63,N,0,26,62,...,25,7,12,8,6,16,Z07,W03,West,East
2,2003,11,Marquette,73,Villanova,61,N,0,24,58,...,22,9,12,2,5,23,Y03,NaN,Midwest,NaN
3,2003,11,N Illinois,56,Winthrop,50,N,0,18,38,...,20,9,19,4,3,23,NaN,NaN,NaN,NaN
4,2003,11,Texas,77,Georgia,71,N,0,30,61,...,15,12,10,7,1,14,X01,NaN,South,NaN

Save games df to csv incase we lose the kernel

In [112]:
games.to_csv('all_games.csv')

Count nans by column

In [113]:
for c in games.columns:
    print c, len(games[c]) - games[c].count()

Season 0
Daynum 0
Wteam 0
Wscore 0
Lteam 0
Lscore 0
Wloc 0
Numot 0
Wfgm 0
Wfga 0
Wfgm3 0
Wfga3 0
Wftm 0
Wfta 0
Wor 0
Wdr 0
Wast 0
Wto 0
Wstl 0
Wblk 0
Wpf 0
Lfgm 0
Lfga 0
Lfgm3 0
Lfga3 0
Lftm 0
Lfta 0
Lor 0
Ldr 0
Last 0
Lto 0
Lstl 0
Lblk 0
Lpf 0
WSeed 49914
LSeed 63332
Wregion 49914
Lregion 63332

In [114]:
len(games)

71241

We have very little seed data. This might pose a problem since seed data is usually highly correlated with teams winning or losing. Should come back to that.

In [128]:
games.describe()

,Season,Daynum,Wscore,Lscore,Numot,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
count,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.00000,71241.000000,...,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000,71241.000000
mean,2009.709423,71.443467,74.720568,62.752713,0.072304,25.830126,54.698109,6.857821,17.92145,16.202496,...,18.988265,12.178465,18.113390,11.317556,21.325543,11.394478,14.481029,6.082340,2.868587,19.867829
std,3.993369,35.203727,11.059601,10.873009,0.314147,4.676932,7.598108,2.981373,5.62757,6.269218,...,5.789449,5.368745,7.166855,4.224845,4.493498,3.726841,4.462374,2.786944,2.050225,4.526861
min,2003.000000,0.000000,34.000000,20.000000,0.000000,10.000000,27.000000,0.000000,1.00000,0.000000,...,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,5.000000
25%,2006.000000,40.000000,67.000000,55.000000,0.000000,23.000000,49.000000,5.000000,14.00000,12.000000,...,15.000000,8.000000,13.000000,8.000000,18.000000,9.000000,11.000000,4.000000,1.000000,17.000000
50%,2010.000000,75.000000,74.000000,62.000000,0.000000,26.000000,54.000000,7.000000,18.00000,16.000000,...,19.000000,12.000000,18.000000,11.000000,21.000000,11.000000,14.000000,6.000000,3.000000,20.000000
75%,2013.000000,102.000000,82.000000,70.000000,0.000000,29.000000,59.000000,9.000000,21.00000,20.000000,...,23.000000,16.000000,23.000000,14.000000,24.000000,14.000000,17.000000,8.000000,4.000000,23.000000
max,2016.000000,132.000000,144.000000,140.000000,6.000000,56.000000,103.000000,25.000000,56.00000,48.000000,...,54.000000,42.000000,61.000000,36.000000,45.000000,31.000000,41.000000,22.000000,18.000000,45.000000

In [134]:
games_na = games.dropna()

In [138]:
import re

In [139]:
games_na['WSeed'] = games_na['WSeed'].map(lambda x: re.sub('[^0-9]','',x))

/Users/Amer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [141]:
games_na['LSeed'] = games_na['LSeed'].map(lambda x: re.sub('[^0-9]','',x))

/Users/Amer/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Begin neural net learning using pybrain

In [145]:
games_na[['WSeed','LSeed']] = games_na[['WSeed','LSeed']].apply(pd.to_numeric)

/Users/Amer/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [146]:
games_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4018 entries, 0 to 71240
Data columns (total 38 columns):
Season     4018 non-null int64
Daynum     4018 non-null int64
Wteam      4018 non-null object
Wscore     4018 non-null int64
Lteam      4018 non-null object
Lscore     4018 non-null int64
Wloc       4018 non-null object
Numot      4018 non-null int64
Wfgm       4018 non-null int64
Wfga       4018 non-null int64
Wfgm3      4018 non-null int64
Wfga3      4018 non-null int64
Wftm       4018 non-null int64
Wfta       4018 non-null int64
Wor        4018 non-null int64
Wdr        4018 non-null int64
Wast       4018 non-null int64
Wto        4018 non-null int64
Wstl       4018 non-null int64
Wblk       4018 non-null int64
Wpf        4018 non-null int64
Lfgm       4018 non-null int64
Lfga       4018 non-null int64
Lfgm3      4018 non-null int64
Lfga3      4018 non-null int64
Lftm       4018 non-null int64
Lfta       4018 non-null int64
Lor        4018 non-null int64
Ldr        4018 non-null int64
Last       4018 non-null int64
Lto        4018 non-null int64
Lstl       4018 non-null int64
Lblk       4018 non-null int64
Lpf        4018 non-null int64
WSeed      4018 non-null int64
LSeed      4018 non-null int64
Wregion    4018 non-null object
Lregion    4018 non-null object
dtypes: int64(33), object(5)
memory usage: 1.2+ MB

In [169]:
del games_na['winner']

I needed to add a winner column that randomized through which team won. Since it was always team 1 I decided to use a randomizer between 1 and 2 and assign the winner column value to 1 or 2 depending on the randomizer.

In [174]:
g = games_na[['Season', 'Daynum', 'Numot', 'Wloc']]
w = games_na[['Wteam', 'Wscore', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3', 'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Wblk', 'Wpf', 'WSeed', 'Wregion']]
l = games_na[['Lteam', 'Lscore', 'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last', 'Lto', 'Lstl', 'Lblk', 'Lpf', 'LSeed', 'Lregion']]

In [229]:
w.columns = w.columns.map(lambda x: x.strip('W'))
l.columns = l.columns.map(lambda x: x.strip('L'))

In [273]:
games_rnd = pd.DataFrame()

In [274]:
import random

In [275]:
for i in range(0, len(g)):
    who_first = random.randint(1, 3)
    if who_first == 1:
        s = pd.Series([1],index=['winner'])
        one = w.iloc[i].rename(lambda x: x + '1')
        two = l.iloc[i].rename(lambda x: x + '2')
    else:
        s = pd.Series([2],index=['winner'])
        one = l.iloc[i].rename(lambda x: x + '1')
        two = w.iloc[i].rename(lambda x: x + '2')
    temp = pd.concat([g.iloc[i], one, two, s])
    games_rnd = games_rnd.append(temp, ignore_index=True)

I created a team_stats dataframe to concatenate the average results of a team in a single season. I will be using this to gather data about teams to make a predcition.

In [10]:
team_stats_1 = games_rnd.groupby(['Season','team1'])['Seed1', 'ast1', 'blk1', 'dr1', 'fga1', 'fga31', 'fgm1', 'fgm31', 'fta1', 'ftm1', 'or1', 'pf1', 'score1', 'stl1', 'to1'].mean().reset_index()
team_stats_2 = games_rnd.groupby(['Season','team2'])['Seed2', 'ast2', 'blk2', 'dr2', 'fga2', 'fga32', 'fgm2', 'fgm32', 'fta2', 'ftm2', 'or2', 'pf2', 'score2', 'stl2', 'to2'].mean().reset_index()

In [11]:
team_stats_1.columns = team_stats_1.columns.map(lambda x: x.strip('1'))
team_stats_2.columns = team_stats_2.columns.map(lambda x: x.strip('2'))

In [12]:
team_stats = pd.concat([team_stats_1, team_stats_2])

In [13]:
team_stats = team_stats.groupby(['Season','team'])['Seed', 'ast', 'blk', 'dr', 'fga', 'fga3', 'fgm', 'fgm3', 'fta', 'ftm', 'or', 'pf', 'score', 'stl', 'to'].mean().reset_index()

In [14]:
team_stats.head()

,Season,team,Seed,ast,blk,dr,fga,fga3,fgm,fgm3,fta,ftm,or,pf,score,stl,to
0,2003.0,Alabama,10.0,10.714286,3.000000,23.071429,54.821429,17.517857,22.732143,5.375000,19.857143,14.142857,12.482143,18.553571,64.982143,6.285714,14.285714
1,2003.0,Arizona,1.0,16.000000,3.333333,25.500000,63.666667,18.500000,29.333333,6.916667,24.833333,17.750000,15.500000,19.250000,83.333333,8.250000,14.000000
2,2003.0,Arizona St,10.0,14.244444,3.377778,21.577778,57.033333,14.533333,24.977778,4.255556,26.588889,16.711111,13.577778,20.533333,70.922222,4.544444,13.455556
3,2003.0,Auburn,10.0,12.750000,4.875000,21.250000,58.125000,18.875000,24.812500,5.750000,17.750000,11.125000,13.437500,15.937500,66.500000,8.062500,14.312500
4,2003.0,Austin Peay,13.0,14.500000,5.500000,24.500000,62.500000,23.000000,22.500000,8.500000,14.000000,10.000000,11.500000,23.000000,63.500000,7.000000,17.500000

# Learning
Ok, now we have everything we need. Lets feed the selected input features to a the neural network classifier, and let it learn.

We have to normalize the data, otherwise the features with smaller values will impose a greater weight on the prediction.

In [ ]:
from random import random

from IPython.display import SVG
import pygal

from pybrain.structure import SigmoidLayer
from pybrain.tools.shortcuts import buildNetwork
from pybrain.supervised.trainers import BackpropTrainer
from pybrain.datasets import ClassificationDataSet
from pybrain.utilities import percentError

from sklearn.preprocessing import StandardScaler

In [51]:
# the features I will feed to the classifier as input data.
input_features = ['Season','score1','score2','fgm1','fga1','fgm31','fga31','ftm1','fta1','or1','dr1','ast1','to1','stl1','blk1','pf1','fgm2','fga2','fgm32','fga32','ftm2','fta2','or2','dr2','ast2','to2','stl2','blk2','pf2','Seed1','Seed2']

# the feature giving the result the classifier must learn to predict
output_feature = 'winner'

I defined a normalizer to be able to normalize the data using a simple function rather than a complex one that I would constantly have to google.

In [28]:
def normalize(array):
    scaler = StandardScaler()
    array = scaler.fit_transform(array)

    return scaler, array

I also defined a sample extractor to be able to pull the data out easier when I need it.

In [29]:
def extract_samples(matches, origin_features, result_feature):
    inputs = [tuple(matches.loc[i, feature]
                    for feature in origin_features)
              for i in matches.index]

    outputs = tuple(matches[result_feature].values)

    assert len(inputs) == len(outputs)

    return inputs, outputs

And a basic splitter because I wanted randomized samples whenever I could get them.

In [30]:
def split_samples(inputs, outputs, percent=0.75):
    assert len(inputs) == len(outputs)

    inputs1 = []
    inputs2 = []
    outputs1 = []
    outputs2 = []

    for i, inputs_row in enumerate(inputs):
        if random() < percent:
            input_to = inputs1
            output_to = outputs1
        else:
            input_to = inputs2
            output_to = outputs2

        input_to.append(inputs_row)
        output_to.append(outputs[i])

    return inputs1, outputs1, inputs2, outputs2

In [219]:
inputs, outputs = extract_samples(games_rnd,
                                  input_features,
                                  output_feature)

normalizer, inputs = normalize(inputs)

train_inputs, train_outputs, test_inputs, test_outputs = split_samples(inputs, outputs)

n = buildNetwork(len(input_features),
                 10 * len(input_features),
                 10 * len(input_features),
                 1,
                 outclass=SigmoidLayer,
                 bias=True)

To be able to evaluate the results and show progress on the learning cycle, we need these two functions wich help us calculate how well the network can predict the results from the games used to learn, and the games it doesn't know.

In [220]:
def neural_result(input):
    """Call the neural network, and translates its output to a match result."""
    n_output = n.activate(input) 
    if n_output >= 0.5:
        return 2
    else:
        return 1
    
def test_network():
    """Calculate train and test sets errors."""
    print (100 - percentError(map(neural_result, train_inputs), train_outputs), 
           100 - percentError(map(neural_result, test_inputs), test_outputs))

In [221]:
train_set = ClassificationDataSet(len(input_features))

for i, input_line in enumerate(train_inputs):
    train_set.addSample(train_inputs[i], [train_outputs[i] - 1])

trainer = BackpropTrainer(n, dataset=train_set, momentum=0.5, weightdecay=0.0)

train_set.assignClasses()

test_network()

(56.590450571620714, 56.70498084291188)

Train the network, for a given number of iterations. You can re-run this step many times, and it will keep learning but if you train too much you can end up overfitting the training data (this is visible when the test set accuracy starts to decrease).

In [222]:
for i in range(10):
    trainer.train()
    test_network()

(67.11499663752522, 66.28352490421456)
(67.28312037659717, 66.18773946360153)
(67.28312037659717, 66.18773946360153)
(67.38399462004034, 66.28352490421456)
(67.51849361129791, 66.28352490421456)
(67.955615332885, 66.47509578544062)
(80.43039677202421, 77.58620689655172)
(90.34969737726968, 86.7816091954023)
(93.37592468056489, 90.13409961685824)
(94.68728984532616, 90.80459770114942)

In [223]:
for i in range(5):
    trainer.train()
    test_network()

(95.62878278412911, 91.47509578544062)
(96.33490248823134, 91.37931034482759)
(96.77202420981843, 91.37931034482759)
(97.04102219233356, 91.66666666666667)
(97.2763954270343, 92.04980842911877)

In [235]:
for i in range(5):
    trainer.train()
    test_network()

(97.57901815736382, 92.33716475095785)
(97.74714189643578, 92.43295019157088)
(97.88164088769334, 92.24137931034483)
(97.94889038332212, 92.43295019157088)
(98.0497646267653, 92.43295019157088)

In [260]:
for i in range(5):
    trainer.train()
    test_network()

(98.15063887020847, 92.52873563218391)
(98.25151311365165, 92.72030651340997)
(98.4196368527236, 92.52873563218391)
(98.4196368527236, 92.52873563218391)
(98.48688634835239, 92.62452107279694)

The classifier taps out at around 92% accuracy, not bad :)

I pickle all the things just in case I end up losing data

In [35]:
import pickle
pickle.dump(input_features, open('pkl/input_features.pkl', 'wb'))
pickle.dump(games_rnd, open('pkl/games_rnd.pkl', 'wb'))
pickle.dump(train_inputs, open('pkl/train_inputs.pkl', 'wb'))
pickle.dump(train_outputs, open('pkl/train_outputs.pkl', 'wb'))
pickle.dump(normalizer, open('pkl/normalizer.pkl', 'wb'))
pickle.dump(inputs, open('pkl/inputs.pkl', 'wb'))
pickle.dump(outputs, open('pkl/outputs.pkl', 'wb'))
pickle.dump(n, open('pkl/n.pkl', 'wb'))
pickle.dump(team_stats, open('pkl/team_stats.pkl', 'wb'))

In [9]:
import pickle
input_features = pickle.load(open('pkl/input_features.pkl', 'rb'))
games_rnd = pickle.load(open('pkl/games_rnd.pkl', 'rb'))
train_inputs = pickle.load(open('pkl/train_inputs.pkl', 'rb'))
train_outputs = pickle.load(open('pkl/train_outputs.pkl', 'rb'))
normalizer = pickle.load(open('pkl/normalizer.pkl', 'rb'))
inputs = pickle.load(open('pkl/inputs.pkl', 'rb'))
outputs = pickle.load(open('pkl/outputs.pkl', 'rb'))
n = pickle.load(open('pkl/n.pkl', 'rb'))
team_stats = pickle.load(open('pkl/team_stats.pkl', 'rb'))

# Prediction
With the classifier already trained, we can start making predictions. But we need a little function able to translate inputs like this: (2014, 'California', 'Hawaii'), to the numeric inputs the classifier expects (based on the input features).

This function does the conversion, also normalizes the data with the same normalizer used before, and then just asks the classifier for the prediction.

In [83]:
games_rnd[(games_rnd['team2'] == 'Hawaii')&(games_rnd['Season'] == 2016)]

,Daynum,Numot,Season,Seed1,Seed2,Wloc,ast1,ast2,blk1,blk2,...,region2,score1,score2,stl1,stl2,team1,team2,to1,to2,winner
3746,26.0,0.0,2016.0,8.0,13.0,H,16.0,12.0,5.0,4.0,...,Midwest,82.0,74.0,5.0,9.0,Texas Tech,Hawaii,12.0,14.0,1.0

In [18]:
def get_last_n_games_avg(n, team, season):
    team_1 = games_rnd[(games_rnd['team1'] == team)&(games_rnd['Season'] == season)][[x for x in games_rnd.columns.values if '1' in x]+['Daynum', 'Season']]
    team_2 = games_rnd[(games_rnd['team2'] == team)&(games_rnd['Season'] == season)][[x for x in games_rnd.columns.values if '2' in x]+['Daynum', 'Season']]

    team_1.columns = team_1.columns.map(lambda x: x.strip('1'))
    team_2.columns = team_2.columns.map(lambda x: x.strip('2'))

    games = pd.concat([team_1, team_2])
    games = games.sort_values('Daynum')
    del games['Daynum']
    return games.iloc[-n:].groupby(['Season','team'])['Seed', 'ast', 'blk', 'dr', 'fga', 'fga3', 'fgm', 'fgm3', 'fta', 'ftm', 'or', 'pf', 'score', 'stl', 'to'].mean().reset_index()

In [73]:
def neural_result(input):
    """Call the neural network, and translates its output to a match result."""
    n_output = n.activate(input) 
    if n_output >= 0.5:
        return 2
    else:
        return 1

def predict(year, team1, team2):
    inputs = []
    diff_year_1 = ''
    diff_year_2 = ''
    n_games = 3
    if year in range(2003, 2017):
        team_stats = pd.concat([get_last_n_games_avg(n_games, team1, year), get_last_n_games_avg(n_games, team2, year)])
    elif year < 2003:
        team_stats = pd.concat([get_last_n_games_avg(n_games, team1, 2003), get_last_n_games_avg(n_games, team2, 2003)])
    else:
        team_stats = pd.concat([get_last_n_games_avg(n_games, team1, 2016), get_last_n_games_avg(n_games, team2, 2016)])
    for feature in input_features:
        from_team_2 = '2' in feature
        feature = feature.replace('2', '')
        feature = feature.replace('1', '')
        if feature in [x for x in team_stats.columns.values if x != 'Season']:
            team = team2 if from_team_2 else team1
            try:
                value = team_stats[(team_stats.team == team)&(team_stats.Season == year)].iloc[[0]][feature].values[0]
            except:
                if from_team_2:
                    diff_year_2 = team
                else:
                    diff_year_1 = team
                value = team_stats[team_stats['team'] == team].iloc[[-1]][feature].values[0]
        elif feature == 'Season':
            value = year
        else:
            raise ValueError("Don't know where to get feature: " + feature)
        inputs.append(value)

    inputs = normalizer.transform(np.array(inputs).reshape((1, -1)))
    result = neural_result(inputs[0])

    results = ''
    if diff_year_1 != '':
        year_used = team_stats[team_stats['team'] == team1].iloc[[-1]]['Season'].values[0]
        results += "Couldn't find data from "+str(year)+" for team1 = "+diff_year_1+", used "+str(int(year_used))+" instead.\n"
    if diff_year_2 != '':
        year_used = team_stats[team_stats['team'] == team2].iloc[[-1]]['Season'].values[0]
        results += "Couldn't find data from "+str(year)+" for team1 = "+diff_year_2+", used "+str(int(year_used))+" instead.\n"
    
    if results:
        print results
    
    if result == 1:
        return team1
    elif result == 2:
        return team2
    else:
        return 'Unknown result: ' + str(result)

Some predictions about the past, compared to real results:
Even while we know those results and some of them we're used to train the classifier, that doesn't guarantee the real result is what the classifier will predict.

In [74]:
predict(2016, 'Kansas', 'Austin Peay') #Correct

'Kansas'

In [75]:
predict(2016, 'Kansas', 'Connecticut') #Correct

'Kansas'

In [76]:
predict(2016, 'Kansas', 'Maryland') #Correct

'Kansas'

In [77]:
predict(2016, 'Kansas', 'Villanova') #Wrong

'Kansas'

In [78]:
predict(2016, 'Villanova', 'North Carolina') #Wrong

'North Carolina'

In [79]:
predict(2016, 'Villanova', 'Oklahoma') #Correct

'Oklahoma'

In [80]:
# What about a huge upset?
predict(2016, 'SF Austin', 'West Virginia') #Wrong

'West Virginia'

In [81]:
# Another upset
predict(2016, 'Purdue', 'Ark Little Rock') #Wrong

'Purdue'

## Some predictions about the future:
Future prediction will not work and the predict method will use data from the most recent year where there is data available instead.

In [33]:
predict(2017, 'Hawaii', 'California')

Couldn't find data from 2017 for team1 = Hawaii, used 2016 instead.
Couldn't find data from 2017 for team1 = California, used 2016 instead.

'California'

In [34]:
predict(2017, 'North Carolina', 'California')

Couldn't find data from 2017 for team1 = North Carolina, used 2016 instead.
Couldn't find data from 2017 for team1 = California, used 2016 instead.

'North Carolina'